/LP/lista_2/target/
/LP/aula3/target/
/LP/lista_3/target/
/LP/projeto-tela-cco/target/
/LP/aulaPOO02/target/
/LP/projeto-lista-desafio-incompleto-atualizado/target/
/LP/projeto-lista-desafio-incompleto-atualizado-ivan-medeiros/target/
/LP/conectandoBanco/target/
/LP/atividade-04-hospital/target/
/LP/projeto-heranca-lp/target/
/LP/projeto1-heranca-incompleto/target/
/Lab/node_modules/
/Lab/package-lock.json
/Lab/package.json
/LP/02221071-Ivanmedeiros-prova2/target/
/LP/02221071-Ivanmedeiros-prova2/nbproject/
/LP/aulaclasseabstrata/target/
/LP/classe-abstrata-funcionario/target/
/LP/classe-abstrata-figuras/target/
/LP/projeto3-heranca-incompleto/nbproject/
/LP/projeto3-heranca-incompleto/target/
/LP/02221071-ivanmedeiros-prova3/nbproject/
/LP/02221071-ivanmedeiros-prova3/target/
