/LP/lista_2/target/
/LP/aula3/target/
/LP/lista_3/target/
/LP/projeto-tela-cco/target/
/LP/aulaPOO02/target/
/LP/projeto-lista-desafio-incompleto-atualizado/target/
/LP/projeto-lista-desafio-incompleto-atualizado-ivan-medeiros/target/
/LP/conectandoBanco/target/
/LP/atividade-04-hospital/target/
